*.js
!jest.config.js
!test/*.test.js
!test/**/*.test.js
*.d.ts
node_modules
.env
huginbot-config.json

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Valheim world files and mods
/worlds/*
!/worlds/.gitkeep
/mods/*
!/mods/.gitkeep
